<?xml version="1.0" encoding="UTF-8"?>
<!-- 查找最新的schemaLocation 访问 http://www.springframework.org/schema/ -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd         
           http://code.alibabatech.com/schema/dubbo
           http://code.alibabatech.com/schema/dubbo/dubbo.xsd
           ">

	

	<dubbo:application name="spring-dubbo"></dubbo:application>

	<dubbo:registry check="true" address="zookeeper://47.94.229.142:2181"></dubbo:registry>

	<dubbo:protocol name="dubbo" port="29083" host=""></dubbo:protocol>

	<bean id="commandService" class="com.btx.service.CommandServcieImp"></bean>
	<dubbo:service timeout="3000" interface="com.btx.service.ICommandService" ref="commandService"/>
</beans>